<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login">
            <h1 class="login-header">Giriş Yap</h1>
            <form action="/login" method="POST">
                <input class="input" type="text" name="username" placeholder="Kullanıcı Adı" required>
                <button class="button" type="submit">Giriş Yap</button>
            </form>
        </div>
    </div>
</body>
</html>
